.navContain{
    position: fixed;
    width:100%;
    height:90px;
    background-color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:3;
}
.navs{
    width:400px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-right:5%;
}
.he{
    text-decoration: none;
    color:#1e3a59;
}
 .he:hover{
    color:#ff9000;
}
.orange{
    color:#ff9000;
}
.orange:hover{
    box-shadow: 3px 3px 10px 2px #e7e7e7;
}
.logo-header{
    display:flex;
    justify-content:space-around;
    margin-left: 5%;
}

.employers{
    border:1px solid #ff8c26;
    width:130px;
    height:40px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#ff8c26;
}